<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>editar/actualizar</title>
</head>
<body>
    <center>
        <h1>Actualizar Flor</h1>

        <form action="/actualizar" method="POST">

            <label>Nombre de la Flor: </label>
            <input type="text" name="nombre" placeholder="flor">
            <label>Cantidad: </label>
            <input type="text" name="cantidad" placeholder="cantidad">
            <label>Precio:</label>
            <input type="text" name="precio" placeholder="precio">
            
            <button type="input"> Actualizar Flor</button>
        </form>


    </center>
</body>
</html>