<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Curso</title>
  <link rel="stylesheet" href="/public/cursos.css">
  <link rel="stylesheet" href="/public/menu.css">
</head>
<body>
  <!--incluir la barra de menu-->
  {% include 'menu.html' %}


<form action="/crearcurso" method="POST" class="contenedor">
  <h1>Crear Curso</h1><br>

  <div class="form-group">
    <label for="tipo">Tipo:</label>
    <select name="tipo">
      <option value="curso">Curso</option>
      <option value="clase">Clase</option>
      <option value="asesoria">Asesoría</option>
    </select>
  </div>

  <div class="form-group">
    <label for="materia">Materia:</label>
    <input type="text" name="materia" placeholder="Matematicas/BD/POO" required>
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción de la Materia:</label>
    <input type="text" name="descripcion" placeholder="Se verá integrales por cambio de variable" required>
  </div>

  <div class="form-group">
    <label for="fecha">Fecha y Hora:</label>
    <input type="datetime-local" name="fechaHora">
  </div>

  <div class="form-group">
    <label for="lugar">Locación:</label>
    <input type="text" name="lugar" placeholder="Al lado del edificio B" required>
  </div>

  <div class="form-group">
    <label for="material">Material para la clase:</label>
    <input type="text" name="material" placeholder="Llevar calculadora" required>
  </div>

  <div class="form-group">
    <label for="espe">¿Alguna Especialidad que tengas en algún tema y/o materia adicional?</label>
    <input type="text" name="espe" placeholder="Base de datos, POO, Integrales, etc." required>
  </div>

  <button type="submit" class="btn-submit">Crear Curso</button>
</form>


</body>
</html>
