<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/public/index.css">
</head>
<body>
    <header>
        <div class="logo">
            <span>YourSpace</span>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <button type="submit">Buscar</button>
        </div>
        <div class="user-actions">
            <button class="upload-button">Subir video</button>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
        </ul>
    </nav>
    <main>
        <div class="video-info">
            <h2 class="title">Título del Video</h2>
            <p class="author">Autor del Video</p>
            <p class="views">1.5M visualizaciones</p>
            <p class="description">Descripción del video Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at iaculis lectus, in tristique eros. Integer quis sem odio. Ut tristique congue purus in tristique. Donec blandit dictum erat. Pellentesque porta neque id augue iaculis rutrum.</p>
        </div>
    </main>
</body>
</html>
