
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/public/index.css">
</head>

<body>
    <header>
        <div class="logo">
            <span>YourSpace</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <button type="submit">Buscar</button>
        </div>
        <div class="user-actions">
            <a href="/cursos">Subir Cursos</a>
            <a href="/perfil">Perfil</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('historial') }}">Historial</a></li>
        </ul>
    </nav><br>
    {%with mensajes= get_flashed_messages() %}
    {%if mensajes%}
    {%for msj in mensajes%}
    <h3>{{ msj }}</h3>
    {%endfor%}
    {%endif%}
    {%endwith%}

    <table>
        <thead>
            <tr>
                <th>Tipo: </th>
                <th>Materia: </th>
                <th>Descripción de la Materia: </th>
                <th>Material: </th>
                <th>Fecha: </th>
                <th>Lugar: </th>

                <th>Usuario: </th>
                <th>Correo: </th>
                <th>Especialidad: </th>

            </tr>
        </thead>
        <tbody>
            {% for cur in cursos %}
            <tr>
                <td>{{ cur[6] }}</td>
                <td>{{ cur[7] }}</td>
                <td>{{ cur[8] }}</td>
                <td>{{ cur[0] }}</td>
                <td>{{ cur[1] }}</td>
                <td>{{ cur[2] }}</td>
                <td>{{ cur[4] }}</td>
                <td>{{ cur[5] }}</td>
                <td>{{ cur[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>

</html>
