<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD YourSpace</title>
    <link rel="stylesheet" href="/public/login.css">
</head>

<body>
    {%with mensajes= get_flashed_messages() %}
    {%if mensajes%}
    {%for msj in mensajes%}
    <h1 class="alert">{{ msj }}</h1>
    {%endfor%}
    {%endif%}
    {%endwith%}

    <div class="container">
        <h1 class="title">Login</h1>
        <form action="/comprobar" method="POST">
            <div class="form-group">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" placeholder="Usuario" required>
            </div>
            <br><br>
            <div class="form-group">
                <label for="pass">Password:</label>
                <input type="password" name="pass" placeholder="Password" required>
            </div>
            <br><br>
            <button type="submit" class="btn-submit">Iniciar</button>
        </form>
        <br><br>
        <label for="registrarse">¿No tienes una cuenta?</label>
        <br><br>
        <a href="/registrarse">Registrarse</a>
    </div>
</body>

</html>