
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/registros.css">
</head>

<body><div class="container">
    <h1 class="title">Registro</h1>
    <form action="/registros" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" placeholder="Nombre" required>
        </div><br>
        <div class="form-group">
            <label for="ap">Apellido Paterno:</label>
            <input type="text" name="ap" placeholder="Apellido Paterno" required>
        </div><br>
        <div class="form-group">
            <label for="am">Apellido Materno:</label>
            <input type="text" name="am" placeholder="Apellido Materno" required>
        </div><br>
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="text" name="correo" placeholder="Correo" required>
        </div><br>
        <div class="form-group">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" placeholder="Usuario" required>
        </div><br>
        <div class="form-group">
            <label for="pass">Password:</label>
            <input type="password" name="pass" placeholder="Password" required>
        </div><br>
        <button type="submit" value="Registrarse" class="btn-submit"> Registrarse </button>
    </form>
</div>
</body>
</html>
