{% include 'plantilla.html' %}

{%block body%}

<form action="/crearcurso" method="POST" class="contenedor">
  <h1 style="color: white;">Crear Curso</h1><br>

  <div class="form-group">
    <label for="tipo">Tipo:</label>
    <select name="tipo" class="form-select" style="border-radius: 50px;">
      <option value="Curso">Curso</option>
      <option value="Clase">Clase</option>
      <option value="Asesoria">Asesoría</option>
    </select>
  </div>

  <div class="form-group">
    <label for="materia">Materia:</label>
    <input type="text" name="materia" placeholder="Matematicas/BD/POO" required>
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción de la Materia:</label>
    <input type="text" name="descripcion" placeholder="Se verá integrales por cambio de variable" required>
  </div>

  <div class="form-group">
    <label for="fecha">Fecha y Hora:</label>
    <input type="datetime-local" style="border-radius: 50px;" class="form-control" name="fechaHora">
  </div>

  <div class="form-group">
    <label for="lugar ">Locación:</label>
    <input type="text" name="lugar" placeholder="Al lado del edificio B" required>
  </div>

  <div class="form-group">
    <label for="material">Material para la clase:</label>
    <input type="text" name="material" placeholder="Llevar calculadora" required>
  </div>

  <div class="form-group">
    <label for="espe">¿Alguna Especialidad que tengas en algún tema y/o materia adicional?</label>
    <input type="text" name="espe" placeholder="Base de datos, POO, Integrales, etc." required>
  </div>

  <button type="submit" class="mt-3 mb-3 btn-submit btn btn-primary" style="width: 33%">Crear Curso</button>
</form>



{%endblock body%}
