<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    {%with mensajes= get_flashed_messages() %}
    {%if mensajes%}
    {%for msj in mensajes%}
    <h3>{{ msj }}</h3>
    {%endfor%}
    {%endif%}
    {%endwith%}

    <a href="/cursos">Subir Cursos</a>

    <h1>Feed</h1>
    <br>

    <table>
        <thead>
            <tr>
                <th>Tipo: </th>
                <th>Materia: </th>
                <th>Descripción de la Materia: </th>
                <th>Material: </th>
                <th>Fecha: </th>
                <th>Lugar: </th>

                <th>Usuario: </th>
                <th>Correo: </th>
                <th>Especialidad: </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cur in cursos %}
            <tr>
                <td>{{ cur[6] }}</td>
                <td>{{ cur[7] }}</td>
                <td>{{ cur[8] }}</td>
                <td>{{ cur[0] }}</td>
                <td>{{ cur[1] }}</td>
                <td>{{ cur[2] }}</td>
                <td>{{ cur[4] }}</td>
                <td>{{ cur[5] }}</td>
                <td>{{ cur[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>