{%extends 'plantilla.html'%}

{%block body%}

  <div class="container">
    <main>
      <div class="imagen">
        <img src="https://img.freepik.com/vector-premium/dibujos-animados-perfil-mujer_18591-58476.jpg" alt="Profile Picture" style="max-width: 400px;">
      </div>
      <div class="profile-info">
        {% for x in datosp %}
        <h2 class="username">{{ x[0] }}</h2>
        <p class="name">{{ x[1] }}</p>
        <p class="name">{{ x[2] }}</p>
        <p class="option"><a href="#">Cambiar Password</a></p>
        {% endfor %}
      </div>
    </main>
  </div>

  {%endblock body%}