<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    <!DOCTYPE html>
<html>

<body>

    <h1>Registro</h1>
    <form action="/registros" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" placeholder="Nombre" required>
        <br><br>
        <label for="ap">Apellido Paterno:</label>
        <input type="text" name="ap" placeholder="Apellido Paterno" required>
        <br><br>
        <label for="am">Apellido Materno:</label>
        <input type="text" name="am" placeholder="Apellido Materno" required>
        <br><br>
        <label for="correo">Correo:</label>
        <input type="text" name="correo" placeholder="Correo" required>
        <br><br>
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" placeholder="Usuario" required>
        <br><br>
        <label for="pass">Password:</label>
        <input type="text" name="pass" placeholder="Password" required>
        <br><br>

        <button type="submit">Registrarse</button>
    </form>

</body>
</html>

</body>
</html>