body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(to bottom right, white, #012b12);
    background-size: cover;
    background-attachment: fixed;
}

.card-containers {
    display: flex;
    flex-wrap: wrap;
}

.cards { 
    background-color: white;
    border-color: black;
    border-radius: 50px;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
}

.til{
    margin-bottom: 10px;
}

.boton-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.espe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    width: 40%;
    padding: 10px; /* Ajusta el espacio interior */
    border-radius: 5px; /* Agrega bordes redondeados */
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.espe:hover {
    background-color: #0056b3; /* Color más oscuro al hacer hover */
}


.cardespe { 
    background-color: white;
    border-color: black;
    border-radius: 50px;
    padding: 15px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    overflow: hidden;
}

.oculto {
    display: none;
}

.Formulario {
    width: 80%; /* Ajusta el ancho del formulario */
    max-width: 1000px;
    background: white;
    border-radius: 20px;
    margin: 0 auto; /* Centra el formulario horizontalmente */
    margin-top: 50px; /* Agrega espacio superior */
    padding: 20px; /* Agrega espacio interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.Formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size:  16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.username span ::before{
    content: ´´;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6c6c6c;
    transition: .5s;
}

.username input:not(:placeholder-shown) ~ label,
.username input:focus ~ label {
    top: -5px;
    color: #6c6c6c;
    width: 100%;
}

form .especial{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
}

.especial input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size:  16px;
    border: none;
    background: none;
    outline: none;
}

.especial label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-170%);
    font-size: 16px;
    pointer-events: none;
}

.especial select{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    height: 23px;
}

.recordar{
    margin: -5px 0 20px  5px;
    color: blue;
    cursor: pointer;
}

.recordar hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 50%;
    height: 50px;
    border: 1px solid;
    background: #012b12;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 5px 200px;
   
}

table{
    text-align: center;
}